<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple JSON to CMD</title>
</head>
<body>
    <Center>
        <form action="/" method="post">
            <p>JSON</p>
            <textarea name="json" cols="90" rows="20"><%= json %></textarea>
            <br>
            <input type="submit" value="Convert">
        </form>
        <div>
            <p>Converted:</p>
            <p><%= converted %></p>
        </div>
    </Center>
</body>
</html>